body {
  background-color: #000;
  color: #f5f5f5;
  padding: 30px 15px;
  font-family: "Roboto", sans-serif;
}

.header-on-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 290px;
  width: 100%;
  background-color: #0d703f;
  z-index: -10;
}

[data-bs-theme="dark"] {
  --bs-body-bg: #111;
}

.money-green {
  background-color: #0d703f !important;
  border-color: #0d703f !important;
  outline-color: #0d703f !important;
}

.balance-card,
.form-select,
.form-control,
.d-grid {
  margin-bottom: 20px;
  border-radius: 15px;
  font-size: 16px;
}

.form-select {
  border: none !important;
  outline: none !important;
}

.balance-card {
  min-height: 150px;
}

.balance-card .card-body {
  padding: 40px 10px;
  border-radius: 15px;
}

.balance-card .card-title {
  font-size: 25px;
}

.balance-card .card-text {
  font-size: 15px;
}

.balance-card.remaining {
  min-height: 105.5px;
  background: transparent;
  border: none;
  margin-bottom: 10px;
}

.budget-type-wrapper {
  margin-bottom: 30px;
}

.balance-card.remaining .card-body {
  padding: 0 10px;
}

.balance-card.remaining .card-title {
  font-size: 60px;
}

.balance-card.remaining .card-text {
  font-size: 17px;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-weight: 100;
}

.header {
  margin-bottom: 15px;
  font-weight: 100;
}

.header-right {
  text-align: right;
}

.header-img {
  border-radius: 30%;
  width: 50px;
}

.welcome-back-text {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ccc;
}

.welcome-back-text .name {
  font-size: 16px;
  letter-spacing: normal;
  color: #fff;
}

.signout-out-icon {
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
}

.editable-card-wrapper {
  position: relative;
}

.editable-card-wrapper .edit-action-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.editable-card-wrapper .edit-action-btn:hover {
  text-decoration: underline;
}

.action-button,
.login-btn {
  font-size: 16px;
  border-radius: 15px;
}

.login-btn {
  margin-bottom: 36px;
}
